body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    font-size: 25px;
    background-color: #F9DCE3;
    padding: 20px;
    display: grid;
    place-items: center;
    height: 80vh;
}

div h3 {
    font-family: "Delicious Handrawn", cursive;
    font-weight: 400;
    font-size: 50px;
    color: black;
    margin-top: 21px;
    margin-bottom: 20px;
}

.contenedor {
    background-color: white;
    padding: 60px;
    border-radius:20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

p {
    margin-top: 20px;
    font-weight: normal;
}